<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Index of ' + path.toString()}">Path</title>
</head>
<body>
    <main style="font-size: 0.8rem">
        <h1 th:text="${'Index of ' + path.toString()}">Path</h1>
        <hr>
        <div class="container" style="display: flex; flex-direction: column">
            <a href="../">../</a>
            <a th:each="file: ${files}"
               th:href="@{${file.getName() + '/'}}"
               th:text="${file.getName() + (file.isDirectory() ? '/' : '')}"
               style="width: fit-content"
            >
                File
            </a>
        </div>
        <form th:action="@{${'/create' + path.toString()}}" method="GET">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Name">
            <label for="fileType">File type:</label>
            <select name="type" id="fileType" >
                <option value="file">File</option>
                <option value="folder" selected>Folder</option>
            </select>
            <button type="submit">Create</button>
        </form>
        <hr>
    </main>
</body>
</html>